<!doctype html>
<html lang="zh_cn">
    <head>
        <title>购物车</title>
        <meta http-equiv="X-UA-Compatible" content="IE=8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
		<script type=text/javascript src="/jquery/"></script>
		<script type=text/javascript>
		var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        function refresh() {
            $.ajax({
                type: "GET",
                url: $SCRIPT_ROOT + "/api/products",
                contentType: "application/xml; charset=utf-8",
                success: function(resp) {
                    var htmlText = "";
                    var data = JSON.parse(resp);
                    for (pi in data.AllProducts) {
                        htmlText += "<tr><td>"+data.AllProducts[pi].Id+"</td><td>"+data.AllProducts[pi].ProductName+"</td><td>"+data.AllProducts[pi].Quantity+"</td><td><button type='button' id='delete' name='delete' onclick='del("+data.AllProducts[pi].Id+");'>删除</button></td>";
                    }
                    $("#buy").html(htmlText);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };
		function del(pid) {
	        $.ajax({
	            type: "DELETE",
	            url: $SCRIPT_ROOT + "/api/products/"+pid,
	            contentType: "application/xml; charset=utf-8",
	            success: function(data) {
	                refresh();
	            },
	            error: function(jqXHR, textStatus, errorThrown) {
	                alert(errorThrown);
	            }
	        });
		};
		$(function() {
		    refresh();
		});
        </script>
	</head>
    <body>
	购物车<p>
	<table id='cart' border='1'>
		<thead>
          <tr>
            <th>#</th>
            <th>产品名称</th>
            <th>购买数量</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody id="buy">

        </tbody>
	</table>
    </body>
</html>